<%= link_to "Search", elastic_search_url %>

<h1>PIM TABLES</h1>
<div>
	<ul>
		<% ActiveRecord::Base.connection.tables.sort.each do |table| %>
			<li>
				<%= link_to table, embed_show_url(table_name: table.camelize),target: "_blank" %>
			</li>
		<% end %>
	</ul>	
</div>
