// Place all the styles related to the elastic_search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.divs {
	margin-top: 15px;
	width: 60%;
	margin-left: 200px;
}

.data-table{
	margin-top: 30px;
	width: 80% !important;
	margin-left: 100px !important;
}